<!DOCTYPE html>
<html lang="en" ng-app="color">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/custom.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="assets/javascripts/color.js"></script>
  </head>
  <body ng-controller="ColorController as color">

    <div class="container">
      <h1>Color Divider Playground</h1>
      <div class="row color-boxes">
        <div class="color-box col-md-4" style="background-color: #{{color.start}}"></div>
        <div class="color-box col-md-4" style="background-color: #{{color.middle}}"></div>
        <div class="color-box col-md-4" style="background-color: #{{color.end}}"></div>
      </div>
      <div class="row">
        <form role="form-horizontal">
          <div class="form-group col-md-4">
            <label class="col-md-4 control-label" for="start-color">Start Color</label>
            <div class="col-md-8">
              <div class="input-group">
                <div class="input-group-addon">#</div>
                <input class="form-control" id="start-color" ng-model="color.start" ng-change="color.startChanged()">
              </div>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-4 control-label" for="middle-color">Middle Color</label>
            <div class="col-md-8">
              <div class="input-group">
                <div class="input-group-addon">#</div>
                <input class="form-control" id="middle-color" value="{{color.middle}}" disabled>
              </div>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-4 control-label" for="end-color">End Color</label>
            <div class="col-md-8">
              <div class="input-group">
                <div class="input-group-addon">#</div>
                <input class="form-control" id="end-color" ng-model="color.end">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </body>
</html>
