<!DOCTYPE html>
<html lang="en" ng-app="color">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/custom.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="assets/javascripts/color.js"></script>
  </head>
  <body ng-controller="ColorController as color">

    <div class="container">

      <h1>Color Divider Playground</h1>

      <!-- Colored Boxes Row -->
      <div class="row color-boxes">
        <div class="color-box col-xs-4" ng-repeat="input in color.inputs" style="background-color: #{{input.hex}}"></div>
      </div>

      <!-- Color Inputs Row -->
      <div class="row">
        <form role="form-horizontal">
          <action-box ng-repeat="input in color.inputs"></action-box>
        </form>
      </div>

    </div>

  </body>
</html>
